.mypy_cache/
/.coverage
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
out*
*.png
.idea
.ipynb_checkpoints
*.h5
*.json
*.hdf5
*.DS_Store
*.coverage.*
.idea
*.h5
studies/Rscripts/complete LISA PH/fp_for_Jason\
*.csv
*.zip
*.txt
*.nc
Chains
*.RData
*.dta
*.Rhistory
*.pdf